html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primery-white-color);
  font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
section{
  display: block;
}
.list {
 
  list-style: none;
}

.page-header{
 border-bottom: 1px solid #ececec;
}
.logo-studio {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-web {
  color: var(--acent-color);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
 padding-right: 15px;

width: 1230px;
}
.main-nav{
  display: flex;
  align-items: center;
}
.site-nav .link {
padding-top: 32px;
padding-bottom: 32px;

color: var(--title-color);

text-decoration: none;
}


.site-nav{
  display: flex;
}

.site-nav .item{
  
}
.advantages-list{
  display: flex;
}
.advantages-list .item:not(:last-child){
  margin-right: 30px;
}
.advantages-list .item
{
width: calc((100%-90px)/4);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.our-comanda{
   display: flex;
}
.our-comanda-item{
  width: calc((100%-90px)/4);
}
.our-comanda-item .item:not(:last-child){
  margin-right: 30px;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
.site-nav .link:hover,
.site-nav .link:focus,
.link-current{
  color: var(--acent-color);
  text-decoration: none;
}
.flex{
  display: flex;
  align-items: center;
}

.activiti-item:not(:last-child){
  margin-right: 30px;}

.activiti-item{
  width: calc((100%-60px)/3);

}
    
.section-title {
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

}
.specialists {
  color: var(--title-color);
  margin-bottom: 10px ;
  font-weight: 500;
}
.auth-nav body {
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
  text-decoration: none;
}

.auth-nav{
  display: flex;
  margin-left: auto;
}

.auth-nav .link:hover,
.auth-nav .link:focus,
.auth-nav .link{
  color: var(--title-color);
  text-decoration: none;
}
 .auth-nav .item + .item{
   margin-left: 32px;
    }

.hero {
  text-align: center;
  background-color:#2f303a;

}
.btn {
  width: 200px;
  height: 26px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  color: white;
  background-color: var(--acent-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-hero {
  width: 150px;
  height: 26px;

  font-weight: 700px;
  font-size: 16px;

  line-height: 1.87;
  text-decoration: none;
  color: white;
  background-color: var(--acent-color);
  border-radius: 4px;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.btn-nav {
  width: 200px;
  height: 26px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right:a ;
  width: 696px;
  text-transform: uppercase;
  font-weight: 700px;
  text-align: center;
  line-height: 1.36;
  color: #ffffff;
}

.filters {
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  }
  .examples {
    text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  }
:root {
  --title-color: #000;
  --ptimary-text-color: white;
  --main-text-color: #000;
  --acent-color: #18a0fb;
}
/*
.button {
}
.button.primary {
  color: var();
}

