body {
  background-color: var(--primery-white-color);
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.logo-studio {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-web {
  color: var(--acent-color);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.site-nav .link {
  color: var(--title-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acent-color);
}
.site-nav .link.current {
  color: var(--acent-color);
}
.section-title {
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
}
.specialists {
  color: var(--title-color);
}
.auth-nav body {
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
  text-decoration: none;
}
.hero {
  background-color: floralwhite;
}
.btn {
  width: 200px;
  height: 26px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  color: white;
  background-color: var(--acent-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-hero {
  width: 150px;
  height: 26px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  color: white;
  background-color: var(--acent-color);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.btn-nav {
  width: 200px;
  height: 26px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title {
  font-weight: 900px;
  text-align: center;
  line-height: 1.25;
  color: black;
}
.filters {
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  }
  .examples {
    text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  }
:root {
  --title-color: #000;
  --ptimary-text-color: white;
  --main-text-color: #000;
  --acent-color: #18a0fb;
}
/*
.button {
}
.button.primary {
  color: var();
}
